input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
  background: rgb(6 13 23);
  margin-top: 3rem;
}

.div_suggestion {
  display: flex;
  font-family: "Fredoka One", cursive;
  margin-left: 1.1rem;
  opacity: 0.7;
  margin-bottom: 0.8rem;
}
.div_suggestion span {
  font-size: 25px;
}
.div_hot_top {
  display: flex;
  margin-bottom: 1.5rem;
  width: 100%;
  justify-content: flex-start;
  background-color: rgb(10, 21, 31);
}
.ul_hot_top {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.ul_hot_top li button {
  background-color: transparent;
  border: none;
  color: rgb(220 199 199);
  padding: 7px;
  font-size: 17px;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.ul_hot_top li button:hover {
  background-color: rgb(231, 26, 26);
}
.ul_hot_top li button:focus {
  background-color: rgba(118, 110, 241, 0.596);
}
.popular_link {
  margin-right: 1rem;
  margin-left: 1rem;
}
.movie_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.5rem;
}

@media only screen and (max-width: 415px) {
  .ul_hot_top {
    margin-left: 0;
  }
  .container {
    padding: 20px 0px 5px 20px;
  }
  .div_suggestion span {
    font-size: 5.2vw;
  }
}
