.movieInfo_container {
  display: flex;
  background-color: #060d17;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 20%;
  width: 85%;
  min-height: 52.7vh;
}
.movieInfo_img_div {
  margin: 2vw 0 2vw 5vw;
}
.movieInfo_img {
  width: 380px;
  border-radius: 9px;
}
.description_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1vw 5vw 3vw 3vw;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  min-height: 66vh;
}
.title {
  display: flex;
  width: 85%;
}
.title span,
.IMDbRate span,
.rating span,
.plot {
  opacity: 0.8;
}

.title span {
  font-family: "Red Hat Display", sans-serif;
  font-size: 4vw;
}
.rates_container {
  display: flex;
  justify-content: space-between;
  width: 22rem;
  font-weight: 700;
}
.rates_container span {
  margin: auto;
}
.ageRated,
.IMDbRate,
.rating {
  display: flex;
  border-radius: 3px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgb(93 93 93 / 50%);
  padding: 0.3vw 1.1vw 0.3vw 1.1vw;
  text-align: center;
}

.IMDbRate a,
.rating a {
  margin-right: 0;
  align-self: flex-end;
  margin-right: 0.4rem;
}
.IMDbRate img {
  width: 15px;
  height: auto;
}
.rating img {
  width: 35px;
  height: auto;
  margin-right: 0;
  align-self: center;
  margin-right: 0.4rem;
}
.year_time_genre_container {
  display: flex;
  font-weight: 700;
  opacity: 0.7;
}
.year_time_genre_container span {
  font-size: 22px;
  margin-left: 0;
}
.info_year_info_runtime_container {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
  width: 10rem;
}
.movieDetails_genres {
  width: 50%;
}
.lineSep {
  height: 3px;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    #333333,
    hsl(0deg 0% 100% / 0%)
  );
}
.plot p {
  font-size: 19px;
}

.director_actors_studios_container {
  display: flex;
}

.director_actors_studios_container span {
  margin-left: 0;
}
.director_actors_studios_title {
  margin-right: 3.2rem;
}
.director_actors_studios_title,
.director_actors_studios_names {
  display: flex;
  flex-direction: column;
  height: 11vw;
  justify-content: space-around;
}
.director_actors_studios_title span {
  font-size: 20px;
}
.director_actors_studios_names span {
  font-size: 15px;
}
.director_actors_studios_title span {
  font-weight: 900;
}
.studios_name_span {
  display: flex;
}
.studios_name_img_container {
  justify-content: space-between;
  display: flex;
}
.studios_img {
  display: flex;
  justify-content: flex-end;
  margin-left: 7vw;
}
.studios_img img {
  width: 15vw;
  height: auto;
  margin-right: 0;
  align-self: center;
  margin-right: 0.4rem;
}

@media only screen and (max-width: 1700px) {
  .movieInfo_container {
    margin-top: 28%;
  }
}
@media only screen and (max-width: 1550px) {
  .movieInfo_container {
    margin-top: 44vh;
  }
  .movieInfo_img {
    width: 25vw;
  }
  .title {
    width: 80%;
    margin-bottom: 3vw;
  }
  .title span {
    font-size: 4vw;
  }
  .rates_container span {
    font-size: 1.7vw;
  }
  .year_time_genre_container span {
    font-size: 1.9vw;
  }
}
@media only screen and (max-width: 1250px) {
  .title {
    margin-bottom: 2vw;
  }
  .rates_container {
    margin-bottom: 2vw;
  }
  .year_time_genre_container {
    margin-bottom: 2vw;
  }
  .lineSep {
    margin-bottom: 2vw;
  }
  .plot {
    margin-bottom: 3vw;
  }
  .director_actors_studios_title,
  .director_actors_studios_names {
    height: 18vw;
  }
}

@media only screen and (max-width: 1000px) {
  .movieInfo_container {
    min-height: 65vh;
    margin-top: 27vh;
  }
  .description_container {
    justify-content: unset;
    margin: 4% 0 0 3%;
  }
  .rates_container {
    width: 90%;
  }
  .year_time_genre_container span {
    font-size: 2.3vw;
  }
  .director_actors_studios_container {
    height: 17vw;
  }
  .plot p {
    font-size: 1.8vw;
  }
  .director_actors_studios_title,
  .director_actors_studios_names {
    height: 35vw;
  }
}

@media only screen and (max-width: 700px) {
  .movieInfo_container {
    margin-top: 14em;
    min-height: 53.5vh;
  }
  .title {
    width: 75%;
  }
  /*  .plot p {
    font-size: 3.4vw;
  } */
  .year_time_genre_container span {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 560px) {
  .movieInfo_container {
    width: 85%;
    min-height: 55vh;
  }
}
@media only screen and (max-width: 400px) {
  .movieInfo_container {
    width: 100%;
    min-height: 55vh;
  }
  /*   .movieInfo_img_div {
    display: none;
  } */
}
