.movieInfo_container {
  background-color: #060d17;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 24%;
  width: 85%;
  height: 100vw;
}
.movieInfo_img_div {
  margin: 2vw 0 2vw 5vw;
}
.movieInfo_img {
  width: 380px;
  border-radius: 9px;
}
@media only screen and (max-width: 1700px) {
  .movieInfo_container {
    margin-top: 28%;
  }
}
@media only screen and (max-width: 1550px) {
  .movieInfo_container {
    margin-top: 27em;
  }
  .movieInfo_img {
    width: 15vw;
  }
}

@media only screen and (max-width: 700px) {
  .movieInfo_container {
    margin-top: 24em;
  }
}
@media only screen and (max-width: 500px) {
  .movieInfo_container {
    width: 100%;
  }
  .movieInfo_img_div {
    display: none;
  }
}
