form {
  display: flex;
  height: 35px;
}

.divContainer {
  display: flex;
  justify-content: space-around;
  background: #9999996e;
  color: #ffffff;
  border-radius: 10px;
  width: 18.7rem;
}
.input_search {
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  width: 13.9rem;
  padding: 15px;
  opacity: 0.6;
}
.input_search:focus {
  outline: none;
}
.input_search::placeholder {
  color: #ffffff;
  font-size: 14px;
  text-align: start;
  font-style: italic;
}
.input_search:focus::placeholder {
  color: transparent;
}
.icon {
  display: flex;
  align-self: center;
}
.icon_link {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px;
  cursor: pointer;
}
.magnify {
  height: 1.2em;
}
@media only screen and (max-width: 450px) {
  .input_search::placeholder {
    font-size: 2.5vw;
  }
  .divContainer {
    width: 60vw;
  }
  form {
    height: 7vw;
  }
}
@media only screen and (max-width: 390px) {
  .input_search::placeholder {
    font-size: 0.7rem;
  }
  .icon_link {
    padding: 15px 5px 15px 5px;
  }
  .divContainer {
    margin-top: 5px;
  }
  form {
    height: 2.2rem;
  }
}
@media only screen and (max-width: 370px) {
  .divContainer {
    width: 220px;
  }
  .input_search {
    padding: 15px 5px 15px 5px;
  }
}
