form {
  display: flex;
}

.divContainer {
  display: flex;
  justify-content: space-around;
  background: #999999;
  color: #ffffff;
  border-radius: 20px;
  width: 15rem;
  padding: 10px 0 10px 0;
}
.input_search {
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  width: 12rem;
}
.input_search:focus {
  outline: none;
}
.input_search::placeholder {
  color: #ffffff;
  font-size: 12px;
  text-align: start;
}
.icon {
  align-self: center;
}
