.header {
  display: flex;
  justify-content: space-between;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  margin-bottom: 1;
  background-color: rgb(21 21 21 / 28%);
  width: 100%;
  margin-bottom: 5rem;
}

/* rgb(129,133,136) */
.header a {
  text-decoration: none;
  color: rgb(207, 207, 207);
}
.link_movies_searchbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 73%;
}
.linkContainer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: baseline;
}
.linkContainer a {
  padding: 15px 15px 5px 15px;
}
.link_button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.logo {
  margin-right: 1rem;
  padding: 15px;
  margin-left: 2rem;
}
.SearchBar {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 25rem;
}

@media only screen and (max-width: 765px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .link_movies_searchbar {
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 760px) {
  .header a {
    font-size: 2.5vw;
  }
  .linkContainer a {
    padding: 3vw;
  }
}
@media only screen and (max-width: 450px) {
  .linkContainer {
    flex-direction: column;
    display: contents;
  }
  .header a {
    font-size: 4.5vw;
  }
  .SearchBar {
    margin-top: 1.5rem;
  }
  .header {
    margin-bottom: 1rem;
  }
  .link_movies_searchbar {
    width: 100%;
  }
  .link_movies_div {
    margin-left: 7%;
  }
}
