header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-color: rgb(21 21 21 / 28%);
}
.linkContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-right: 5rem;
}

.link_movies_searchbar {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
}
.logo img {
  width: 7rem;
}
.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 765px) {
  .logo img {
    width: 4.5rem;
  }
  .linkContainer {
    margin-right: 0;
  }
  .link_movies_searchbar {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 760px) {
  .logo {
    margin-left: 0;
  }
}
