.movie {
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.movie_img {
  display: flex;
  justify-content: center;
}
.description_container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}
.movie_img img {
  border-radius: 1rem;
  width: 200px;
  height: 270px;
}

.description {
  display: flex;
  width: 12rem;
  justify-content: space-between;
  margin-top: 0.7rem;
}
span {
  align-self: flex-end;
  font-size: 15px;
}
.year {
  font-size: 12px;
}

@media only screen and (max-width: 450px) {
  .movie_img img {
    border-radius: 1rem;
    width: 55vw;
    height: 75vw;
  }
  span {
    font-size: 4vw;
  }
  .year {
    font-size: 3vw;
  }
  .description {
    width: 50vw;
  }
}
